JDX_DATABASE JDX:jdbc:mysql://localhost:3306/db1;USER=testdb;PASSWORD=software_source5;JDX_DBTYPE=MYSQL;DEBUG_LEVEL=3
JDBC_DRIVER com.mysql.cj.jdbc.Driver
JDX_OBJECT_MODEL_PACKAGE com.mycompany.jdxmysqlsakilaexample.reversed.json.model
JDX_SUPERCLASS_NAME com.softwaretree.jdx.JDX_JSONObject
JDX_GENERATE_ACCESSOR_METHODS FALSE
JDX_GENERATE_JSON_MAPPINGS TRUE
;
REM ************************************************************************

CLASS Author TABLE authors
;

CLASS Book TABLE books
;

CLASS Loan TABLE loans
;

CLASS Members TABLE members
;




